@import url('https://fonts.googleapis.com/css?family=Nunito');
page-home {
    ion-title h1{
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
    }
    .bg img{
        margin-top: 100px;
    }
    .bg button{
        font-family: 'Nunito', sans-serif;
    }
}
